{% extends "videos/base.html" %}

{% block title %}{{ episode.tvShow.title }} season{{ episode.season }} episode {{ episode.epNum }} {% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="device-width" height="500" data-setup='{"example_option":true}'>
			<source src="{% url 'videos:getVideo' episode.video.id %}" type='{{ episode.video.mimeType }}' />
		</video>
	</div>
</div>
<h1>
	<a href="{% url 'videos:tvShowDetail' episode.tvShow.id %}">{{ episode.tvShow.title }}</a> <small>season {{ episode.season }} episode {{ episode.epNum }}: {{ episode.title }}</small>
</h1>
<div class="row">
	<div class="col-lg-8">
		<div class="well">
			<div class="row">
				<div class="col-lg-3">
					<strong>Duration:</strong>{{ episode.video.duration|time:"H:i:s" }}
				</div>
				<div class="col-lg-6">
					<strong>Rating:</strong> {{ episode.tvShow.rating }}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<strong>Air Date:</strong> {{ episode.date }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>{{ episode.description }}</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4"><img src="{{ MEDIA_URL }}{{ episode.tvShow.cover }}" class="img-thumbnail img-responsive"></div>
</div>
{% endblock %}
