{% extends "videos/base.html" %}
{% load thumbnail %}

{% block title %}Videos{% endblock %}

{% block content %}
{% if movie_list %}
	<div class="row">
	{% for movie in movie_list %}
		<div class="col-sm-3 col-lg-2">
			<a href="{% url 'videos:movieDetail' movie.id %}">
				<img src="{{ MEDIA_URL }}{{ movie.cover }}" class="img-thumbnail img-responsive">
			</a>
		</div>
	{% endfor %}
	</div>
{% else %}
	<div class="jumbotron">
		<p>Sorry, no movies are available.</p>
	</div>
{% endif %}
{% if tvshow_list %}
	<div class="row">
	{% for tvshow in tvshow_list %}
		<div class="col-sm-3 col-lg-2">
			<a href="{% url 'videos:tvShowDetail' tvshow.id %}">
				<img src="{{ MEDIA_URL }}{{ tvshow.cover }}" class="img-thumbnail img-responsive">
			</a>
		</div>
	{% endfor %}
	</div>
{% else %}
	<div class="jumbotron">
		<p>Sorry, no tv shows are available.</p>
	</div>
{% endif %}
{% endblock %}
