<!DOCTYPE html>
<html lang="en">
	<head>
		<title>NetflixClone Movies</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" media="screen">
		<style>
			body {padding-top: 50px;}
		</style>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="container">
				<a href="{% url 'videos:index' %}" class="navbar-brand">NetflixClone</a>
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="{% url 'videos:movieList' %}">Movies</a>
					</li>
					<li>
						<a href="{% url 'videos:tvShowList' %}">TV Shows</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container">
		{% if movie_list %}
			<div class="row">
			{% for movie in movie_list %}
			<div class="col-sm-2"><a href="{% url 'videos:movieDetail' movie.id %}"><img height="300" width="187" src="{{ movie.cover }}"></a></div>
			{% endfor %}
			</div>
		{% else %}
			<p>No Movies are available.</p>
		{% endif %}
	<!-- JavaScript plugins (requires jQuery) -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
	</body>
</html>
