{% extends "videos/base.html" %}

{% block title %}{{ tvshow.title }}{% endblock %}

{% block content %}
<h1>{{ tvshow.title }} <small>{{ tvshow.startDate|date:"Y" }} - {{ tvshow.endDate|date:"Y" }}</small></h1>
<div class="row">
	<div class="col-12 col-sm-6 col-lg-6">
		<div class="well">	
			<div class="row">
				<div class="col-lg-3">
					<strong>Episodes:</strong>
				</div>
				<div class="col-lg-3">
					<strong>Rated:</strong> {{ tvshow.rating }}
				</div>
				<div class="col-lg-6">
						<strong>Genres:</strong> {% for genre in tvshow.genre.all %} <a href="{% url 'videos:tvShowGenre' genre.slug %}">{{ genre.name }}</a> {% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<p>{{ tvshow.description }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="show-sn">Season</th>
							<th class="show-sn">Episode</th>
							<th>Title</th>
						</tr>
					</thead>
					<tbody>
						{% for episode in tvshow.episode_set.all %}
						<tr>
							<td class="show-sn"><a href="{% url 'videos:episodeDetail' tvshow.id episode.id %}">{{ episode.season }}</a></td>
							<td class="show-ep"><a href="{% url 'videos:episodeDetail' tvshow.id episode.id %}">{{ episode.epNum }}</a></td>
							<td><a href="{% url 'videos:episodeDetail' tvshow.id episode.epNum %}">{{ episode.title }}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-lg-6">
		<img src="{{ MEDIA_URL }}{{ tvshow.cover }}" class="img-thumbnail img-responsive">
	</div>
</div>
{% endblock %}
