{% extends "videos/base.html" %}

{% load thumbnail %}

{% block title %}TV Shows{% endblock %}

{% block content %}
{% if tvshow_list %}
	<div class="row">
	{% for tvshow in tvshow_list %}
	<div class="col-sm-3 col-lg-2">
		<a href="{% url 'videos:tvShowDetail' tvshow.id %}">
			<img src="{{ tvshow.cover|thumbnail_url:'list_poster' }}" class="img-thumbnail img-responsive" data-toggle="tooltip" data-placement="bottom" title="{{ tvshow.title }}">
		</a>
	</div>
	{% endfor %}
	</div>
{% else %}
	<div class="jumbotron">
		<p>Sorry, no TVShows are available.</p>
	</div>
{% endif %}
{% endblock %}
