{% extends "videos/base.html" %}

{% block title %}TV Shows{% endblock %}

{% block content %}
{% if tvshow_list %}
	<div class="row">
	{% for tvshow in tvshow_list %}
	<div class="col-sm-4 col-lg-3">
		<a href="{% url 'videos:tvShowDetail' tvshow.id %}">
			<img src="{{ tvshow.cover }}" class="img-thumbnail img-responsive">
			<p class="lead text-center">{{ tvshow.title }}</p>
		</a>
	</div>
	{% endfor %}
	</div>
{% else %}
	<div class="jumbotron">
		<p>Sorry, no TVShows are available.</p>
	</div>
{% endif %}
{% endblock %}
